<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6710438178084678~4038103469</string>
	<key>CLIENT_ID</key>
	<string>146773141748-s0ttsojm5ht3fg1b2b75lmiumjs1veev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146773141748-s0ttsojm5ht3fg1b2b75lmiumjs1veev</string>
	<key>API_KEY</key>
	<string>AIzaSyAk1pQdwyZt_IoXpFYwcLhalbgx5yrkqbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>146773141748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.pucpr.raieiros.studio.splash.it</string>
	<key>PROJECT_ID</key>
	<string>splash-it-color-game</string>
	<key>STORAGE_BUCKET</key>
	<string>splash-it-color-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:146773141748:ios:fbe7c3c2d40effaa8996a1</string>
	<key>DATABASE_URL</key>
	<string>https://splash-it-color-game.firebaseio.com</string>
</dict>
</plist>
